.detail-wrapper
  = render 'products/show'

  .detail-wrapper__main__btn
    =button_to "商品の編集" , root_path(@product) , class:"detail-wrapper__main__btn__ele"
    %p.btn-space or
    =button_to "出品を一旦中止する" , root_path(@product) , class:"detail-wrapper__main__btn__ele" , id:"ele2"
    =button_to "この商品を削除する" , root_path(@product) , class:"detail-wrapper__main__btn__ele" , id:"ele3"
  