.default-container
  = render 'products/header'
  %nav.breadcrumbs
    %ul
      %li
        メルカリ
      %i.fa.fa-angle-right
      %li
        ユーザー名
  .user-details
    .user-profile
      %img{ src: "#{asset_path "user_bg.jpg"}"}/
      .user-photo
        %img{ src: "#{asset_path "member_photo_noimage.png"}"}/ 
        %h2.user-name
          ユーザー名
        .user-score
          %ul
            %li
              評価0
            %li
              出品数0
    .profile-under
      .raiting
        %i.fas.fa-laugh
        .raiting-score 0
        %i.fas.fa-meh
        .raiting-score 0
        %i.fas.fa-frown
        .raiting-score 0
      .sns
        %ul
          %li
            %i.fab.fa-facebook-square
          %li
            %i.fab.fa-twitter-square
          %li
            %i.fab.fa-line
  = render 'products/footer'
