%div.mypage-nav
    %nav.mypage-nav__list
        %ul
            %li.mypage
                %a.mypage-nav__lists__item__active{href: ""}
                    マイページ
                    %i.fa.fa-angle-right
        %ul#nav
            %li
                %a.mypage-nav__lists__item{href: ""}
                    お知らせ
                    %i.fa.fa-angle-right
            %li
                %a.mypage-nav__lists__item{href: ""}
                    いいね！一覧
                    %i.fa.fa-angle-right
            %li
                %a.mypage-nav__lists__item{href: ""}
                    出品する
                    %i.fa.fa-angle-right
            %li
                %a.mypage-nav__lists__item{href: ""}
                    出品した商品-出品中
                    %i.fa.fa-angle-right
            %li
                %a.mypage-nav__lists__item{href: ""}
                    出品した商品-取引中
                    %i.fa.fa-angle-right
            %li
                %a.mypage-nav__lists__item{href: ""}
                    出品した商品-売却済み
                    %i.fa.fa-angle-right
            %li
                %a.mypage-nav__lists__item{href: ""}
                    購入した商品-取引中
                    %i.fa.fa-angle-right
            %li
                %a.mypage-nav__lists__item{href: ""}
                    購入した商品-過去の取引
                    %i.fa.fa-angle-right
            %li
                %a.mypage-nav__lists__item{href: ""}
                    ニュース一覧
                    %i.fa.fa-angle-right
            %li
                %a.mypage-nav__lists__item{href: ""}
                    評価一覧
                    %i.fa.fa-angle-right
            %li
                %a.mypage-nav__lists__item{href: ""}
                    ガイド
                    %i.fa.fa-angle-right
            %li
                %a.mypage-nav__lists__item{href: ""}
                    お問い合わせ
                    %i.fa.fa-angle-right
    %nav.mypage-nav__merupay
        .mypage-nav__head
            メルペイ
        %ul#nav
            %li
                %a.mypage-nav__merupay__list{href: ""}
                    売上・振込申請
                    %i.fa.fa-angle-right
            %li
                %a.mypage-nav__merupay__list
                    ポイント
                    %i.fa.fa-angle-right
    %nav.mypage-nav__setting
        .mypage-nav__head
            設定
        %ul#nav
            %li 
                %a.mypage-nav__setting__list{href: ""}
                    プロフィール
                    %i.fa.fa-angle-right
            %li
                %a.mypage-nav__setting__list{href: ""}
                    発送先・お届け先住所変更
                    %i.fa.fa-angle-right
            %li 
                %a.mypage-nav__setting__list{href: ""}
                    支払い方法
                    %i.fa.fa-angle-right
            %li 
                %a.mypage-nav__setting__list{href: ""}
                    メール/パスワード
                    %i.fa.fa-angle-right
            %li 
                %a.mypage-nav__setting__list{href: ""}
                    本人情報
                    %i.fa.fa-angle-right
            %li
                %a.mypage-nav__setting__list{href: ""}
                    電話番号の確認
                    %i.fa.fa-angle-right
            %li
                %a.mypage-nav__setting__list{href: ""}
                    ログアウト
                    %i.fa.fa-angle-right
