* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.header {
  //header全体の大枠
  width: 100%;
  height: 100px;
  background-color: #fff;
  &__inner {
    //header全体のインサイド大枠
    width: 1020px;
    height: 100px;
    margin: auto;
    padding: 8px 0 0;
    &__upper {
      //headerの上段部
      width: 1020px;
      height: 40px;
      display: flex;
    }
  }
}

.logo-img{//ロゴのサイズ設定
  width:134px;
  height:36px;
}

.search {
  width: 100%;
  margin-left: 45px;
  &__form {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    &__input {
      height: 40px;
      width: 95%;
      padding-left: 10px;
      border-radius: 4px;
      background: #f5f5f5;
      border: 1px solid #ccc;
      line-height: 1.5;
      font-size: 16px;
    }
    &__icon {
      height: 40px;
      width: 5%;
      float: right;
      font-style: normal;
      background: #f5f5f5;
      background: rgb(102, 102, 102);
    }
  }
}

//headerの下部(大枠)
.header-nav {
  width: 1020px;
  height: 44px;
  margin-top: 8px;
  display: flex;
}

.fas.fa-search{
  color:white;
}


//カテゴリーicon css
.fa.fa-list-ul {
  color: red;
  font-size: 15px;
}

//ブランドicon css
.fa.fa-tag {
  color: red;
  font-size: 20px;
}

//いいね！アイコン
.far.fa-heart{
  color: #ccc;
  font-size: 18px;
}


//お知らせicon css
.fa.fa-bell{
  color: #ccc;
  font-size: 18px;
}

//やることicon css
.fa.fa-check {
  color: #ccc;
  font-size: 18px;
}

//マイページicon css
.fa.fa-smile{
  color: #ccc;
  font-size: 20px;
}

.search-nav-left {
  //カテゴリーから探す　ブランドから探すの大枠
  width: 80%;
}

.header-nav-left {
  //urタグ
  display: flex;
  width: 60%;
  cursor: pointer;
  &__nav1 {
    //liタグ　カテゴリーから探す
    list-style: none;
    width: 50%;
    height: 44px;
    position: relative;
    &__link {
      //link　カテゴリーから探す
      color: #333;
      text-decoration: none;
      font-size: 12px;
      font-weight: bold;
      line-height: 32px;
    }
      .category__parent {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 44px;
        z-index: 1000;
        font-size: 13px;
        width: 224px;
        height: 630px;
        background-color:  #fff;
        border: 1px solid #eee;
        li {
          display: block;
          padding-top: 20px;
          height: 45px;
          a {
            text-decoration: none;
            color: #000;
            margin-left: 15px;
          }
        }
      }
      .category__child {
        display: inline-block;
        position: absolute;
        left: 222px;
        top: -1px;
        font-size: 13px;
        width: 224px;
        height: 630px;
        background-color:  #fff;
        border: 1px solid #eee;
        li {
          display: block;
          padding: 10px 0;
          height: 30px;
          a {
            text-decoration: none;
            color: #000;
            margin-left: 15px;
          }
        }
      }
      .category__grandchild {
        display: inline-block;
        position: absolute;
        left: 222px;
        top: -1px;
        font-size: 13px;
        width: 280px;
        height: 630px;
        background-color:  #fff;
        border: 1px solid #eee;
        overflow: scroll;
        li {
          display: block;
          padding: 10px 0;
          margin-bottom: 5px;
          height: 30px;
          a {
            text-decoration: none;
            color: #000;
            margin-left: 15px;
          }
        }
      }
  }
  &__nav2 {
    //ブランドから探す
    list-style: none;
    width: 50%;
    height: 10vh;
    font-size: 10px;
    &__link {
      //link  ブランドから探す
      color: #333;
      text-decoration: none;
      font-size: 12px;
      font-weight: bold;
      line-height: 32px;
    }
    ul {
      display: none;
      font-size: 13px;
      width: 224px;
      height: 300px;
      background-color:  #fff;
      z-index: 1000;
      position: absolute;
      margin-top: 11px;
      border: 1px solid #eee;
      li {
        padding-top: 20px;
        height: 50px;
        width: 224px;
        a {
          text-decoration: none;
          color: #000;
          margin-left: 15px;
        }
      }
    }
  }
}


  .header-nav-right {
    display: flex;
    width: 50%;
    cursor: pointer;
    position:relative;
    &__nice{//いいね！一覧
      list-style: none;
      width: 150px;
      &__link{
        color: #333;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
        line-height: 32px;
        float:right;
    }
  }

    &__info {
      //liタグ　おしらせ
      list-style: none;
      width: 125px;
      &__link {
        //link　おしらせ
        color: #333;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
        line-height: 32px;
        float:right;
      }
      .notification-box {
        display: none;
        width: 300px;
        height: 400px;
        background-color:  #fff;
        z-index: 1000;
        position: relative;
        top: 43px;
        ul {
          font-size: 13px;
          width: 300px;
          height: 400px;
          background-color:  #fff;
          li {
            height: 100px;
            width: 300px;
            display: inline-flex;
            border-bottom: 1px solid #eee;
            position: relative;
            top: -30px;
            padding-top: 20px;
            img {
              width: 17%;
              height: 55%;
              margin: 0 0 10px 20px;
            }
          }
        }
      }
    }
    &__todo {
      //liタグ　やることリスト
      list-style: none;
      width: 150px;
      &__link {
        //link　やることリスト
        color: #333;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
        line-height: 32px;
        float:right;
      }
    }
    &__mypage {
      //liタグ　マイページ
      list-style: none;
      width: 125px;
      &__link {
        //link　マイページ
        color: #333;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
        line-height: 32px;
        float:right;
      }
      .mypage-box {
        display: none;
        width: 330px;
        height: 600px;
        background-color: #fff;
        z-index: 1000;
        position: relative;
        top: 44px;
        right: 210px;
        border: 1px solid #eee;
        .profile__box {
          position: relative;
          width: 330px;
          height: 300px;
          border-bottom: 1px solid #eee;
          img {
            position: absolute;
            width: 100%;
            height: 25%;
          }
          .profile__image {
            position: relative;
            width: 200px;
            height: 170px;
            left: 65px;
            top: 20px;
            img {
              position: absolute;
              top: 10px;
              right: 80px;
              width: 60px;
              height: 60px;
              border-radius: 50%;
            }
              .mypage-box__name {
                position: absolute;
                top: 80px;
                left: 50px;

              }
              .mypage-box__score {
                position: absolute;
                top: 110px;
                left: 40px;
                height: 40px;
                ul {
                  display: flex;
                  li {
                    margin-left: 10px;
                  }
                }
              }
          }
          .mypage__sales__points {
            margin: 10px;
            li {
              display: flex;
              border: 1px solid #eee;
              height: 50px;
              line-height: 50px;
              padding-left: 10px;
              justify-content: space-between;
              .sales {
                width: 30px;
                margin-right: 20px;
                padding-left: 5px;
                display: flex;
                .fa {
                  padding: 18px 5px 0 8px;
                }
              }
              .points {
                margin-right: 8px;

              }
            }
          }
        }
        .mypage-navlist {
          li {
            border: 1px solid #eee;
            height: 50px;
            line-height: 50px;
            padding-left: 10px;
          }
          .fa {
            float:right;
            margin: 15px 10px 0 0; 
          }
        }
      }
    }

  }

  
  .header-nav-right-signup{
    display: flex;
    width: 50%;
    cursor: pointer;
    position:relative;
    left:100px;
    li{
      list-style: none;
    }
  
    &__signup-nav{
      display: flex;
      cursor: pointer;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      border-radius: 4px; 
      text-align: center;
      text-decoration: none;
      margin: 5px;
      padding: 10px;
      
    }
  
    &__login-nav{
      display: flex;
      border: 1px solid #0099e8;
      background: #fff;
      color: #0099e8;
      text-decoration: none;
      text-align: center;
      margin: 5px;
      padding: 10px;
      border-radius: 4px; 
      }
    

  }
  