
// @media screen and (min-width: 1068px){
  .main{
    background-color:#fafafa;
    width:100%;
    max-width:1440px;
    height:calc(100% - 751px);
    margin-top:100px;
    .pickup{
      &__title{
        text-align: center;
        font-size:28px;
        font-weight: bold;
        margin-top:40px;
        margin-bottom:30px
      }
    .products-box{
      display:flex;
      flex-direction:column;
      padding-bottom:100px;
      &__title{
        text-align: center;
        font-size:22px;
        font-weight: bold;
        margin-bottom:20px;
        color: #0099E8;
        text-decoration: none;
      }
      &__viewAllItems{
        color: #0099E8;
        top:20px;
        left:1030px;
        position: relative;
        font-size:14px;
        text-decoration: none;
      }
      .four-box{
        display:flex;
        margin:0 auto;
        
        .product-box{
          width:213px;
          min-width:200px;
          height:330px;
          margin-right:20px;
          text-decoration:none;


          &__top{
            width:100%;
            height:calc(100% - 110px);
            background-color:red;

          } 

          &__bottom{
            width:100%;
            height:110px;
            padding:16px;
            background-color:#fff;
            display:flex;
            flex-direction: column;
            justify-content: space-between;


            &__title {
              font-size:16px;
              line-height:25px;

            }
            &__info{
              display:flex;
              justify-content: space-between;
              &__price {
                font-size:15px;
                font-weight:bold;
              }
              &__like{
                display:flex;
                .far.fa-heart{
                  color:#ccc;

                }
                .like-length{
                  font-size:16px;
                  margin-left:5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
// }
