.btn{
    display: block;
    width: 100%;
    line-height: 48px; 
    font-size: 12px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.signup{
    border: 1px solid #0099e8;
    background: #0099e8;
    color: #fff;
    line-height: 40px;
}

.mail_login{
    color: #fff;
    background-color: #ea352d;
   
}

.facebook_login{
    margin: 16px 0 0;
    background: #385185;
    color: #fff;

}

.google_login{
   
    margin: 16px 0 0;
    background: #fff;
    border: #979797 solid 1px;
    color: #333;
}