.single-container{
    background-color: #f5f5f5;
    // margin:0 auto;
    &__header{
        height:128px
    }
}

.user-text{
    background-color: white;
    width: 700px;
    // margin: 0 auto;
    &__topic{
    // text-align: center;
    font-size: 20px;
    font-weight:bold;
    padding: 32px;
    border-bottom: 0.03px solid #ccc;
    }

    input{   
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    }

    select{
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
    }

    &__text{
        font-size:14px;
        color:#333333;
    }

    &__form{
        padding: 40px 200px 40px;
        margin:0 auto;
        &__topic{
            font-size: 10px;
            margin:3px;
            font-size:14px;
            font-weight:bold;
            color:#333333;
            margin-top: 20px;
        }
    }  
}

.actions{

    input{
    margin: 24px 0 0;
    cursor: pointer;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ea352d;
    background: #e61f17;
    line-height: 1.5;
    font-size: 16px;
    color: #fff;
    width: 100%;
    }
}