.pay-comp__main {
  width:700px;
  height:180px;
  float:right;
  position: absolute;
  top:130px;
  left:450px;
  background-color:white;
  &__link {
    border:solid;
  width:320px;
  height:50px;
  margin:auto;
  background-color: red;
  text-align: center;
  line-height: 45px;
  color:white;
  position: relative;
  top:60px;
  display:block;
  text-decoration: none;
  }
}