.item-box
  =link_to product_path(product) do 
    .item-box__top
      = image_tag(product.images.first,width:"188",height:"188")
    .item-box__bottom
      %h3.item-box__bottom__title="#{product.name}"
      .item-box__bottom__info
        .item-box__bottom__info-price="¥#{product.price.to_s(:delimited)}"
        .item-box__bottom__info-like
          %i.far.fa-heart
          %p.like-length=product.likes.count
