.comment
  .comment__main
    - @comments.each do |comment| 
      %li.comment__list

    .comment__main__content
      = form_with model: [@product, @comment] do |form|
        .message-form
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = form.text_area :comment
          = form.submit "コメントする", class:"comment__main__button"
