=link_to "#", class: "product-box" do 
  .product-box__top
    %img{src: "assets/products/sho.jpg",width:"213",height:"220"}
  .product-box__bottom
    .product-box__bottom__title ゆでたまご
    .product-box__bottom__info
      .product-box__bottom__info__price ¥ 7,000
      .product-box__bottom__info__like
        %i.far.fa-heart
        %p.like-length 5
