.items-box
  =link_to product_path(product) do 
    .items-box__top
      = image_tag("products/bag1.jpg",width:"160",height:"160")
    .items-box__bottom
      %h3.items-box__bottom__title=product.name
      .items-box__bottom__info
        .items-box__bottom__info-price="¥#{product.price.to_s(:delimited)}"
        .items-box__bottom__info-like
          %i.far.fa-heart
          %p.like-length 5
