.slider
  %figure.slider-campFeature
    %img{src: "assets/slider/banner-camp.jpg"}/
  %figure.slider-advertisingApp
    %img{src: "assets/slider/main_bg_pc.jpg",class: "slide-advertisingApp__backimage",width:"100%"}/
    .slider-advertisingApp__content
      %img{src: "assets/slider/main_content_pc.png",class:"slide-advertisingApp__content__smartphone",width:"32%"}/
      %h2.title スマホでかんたん<br>フリマアプリ
      %h3.leadSentence メルカリはスマホカメラからすぐに出品できる<br>購入時も安心な独自システムのアプリです
      .slider-advertisingApp__content__appBottons
        %img{src:"assets/slider/app-store.svg"}
        %img{src:"assets/slider/google-play.svg"}
