.productshow__contents
  .productshow
    .productshow__name 
      チャコネット　ワンピース　サイズS

    .productshow__photos
      .productshow__photos__top-photo
        %img{src:"#{asset_path "products/top1.jpg"}"}
      .productshow__photos__small-photos
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}

    .productshow__item
      .productshow__item__left
        出品者
      %a.productshow__item__right
        user名

      .productshow__items__left
        カテゴリー
      %a.productshow__item__right
        レディース

      .productshow__item__left
        ブランド
      %a.productshow__item__right
        コーチ

      .productshow__item__left
        商品のサイズ
      %a.productshow__item__right
        S

      .productshow__item__left
        商品の状態
      %a.productshow__item__right
        目立った傷や汚れなし

      .productshow__item__left
        配送料の負担
      %a.productshow__item__right
        送料込み（出品者負担）

      .productshow__item__left
        配送の方法
      %a.productshow__item__right
        らくらくメルカリ便

      .productshow__item__left
        発送日の目安
      %a.productshow__item__right
        大阪府

      .productshow__item__left
        発送日の目安
      %a.productshow__item__right
        ２〜３日で発送


    


