.profile-edit-wrapper{
  background-color: #F5F5F5;
  height:100vh;
  width:100%;
  .edit-main{
    display:flex;
    justify-content: center;
    .mypage-nav{
      width:340px;
      &__list{
        width:280px;
        // height:1252px;
      }
    }
    .edit-content {
      width:700px;
      height:568px;
      background-color:red;
      margin-top:30px;
    }
  }
}
