.logout{
  margin: 30px;
  padding:60px;
  float:right;
  width:700px;
  height:200px;
  display:flex;
  background-color: white;
  
  &__button{
    margin: 0 auto;
    padding: 15px;
  
    input{
      margin: 0 auto;
      width:320px;
      height:50px;
      background-color:#EA352D;
      cursor: pointer;
      text-align: center;
      color:white;
      font-size: 14px;
      outline:none; 
    }
    input:active{
      background: gray; 
    }
  }
}