* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}


//チェックアイコン
.fa.fa-chevron-down.fa-lg {
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 8px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.container {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
}

.header-new {
  text-align: center;
  height: 130px;
  background-color: #F5F5F5;
  &__logo {
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 185px;
    margin: 40px 0 0;
  }
}

.main {
  width: 100%;
  height: calc(100% - 350px);
  background-color: #F5F5F5;
  &__sell {
    width: 700px;
    margin: auto;
    background: #fff;
    &__text {
      padding: 32px 16px;
      font-size: 22px;
      line-height: 1.5;
      text-align: center;
      font-weight: bold;
      width: 700px;
      height: 100px;
    }
  }
}

.form {
  width: 700px;
  height: calc(100% - 100px);
  border-top: 1px solid #eee;
  &__upload {
    width: 620px;
    height: 303px;
    padding: 40px;
    &__imgtext {
      font-size: 16px;
      width: 540px;
      height: 16px;
      font-weight: bold;
    }
    &__text {
      font-size: 12px;
      margin-top: 10px;
      line-height: 1.5;
      display: block;
    }
    &__dropbox {
      width: 620px;
      min-height: 162px;
      background: #f5f5f5;
      margin-top: 20px;
      border: 1px dashed #ccc;
      text-align: center;
      cursor: pointer;
      &__file {
        background-color: transparent;
        display: none;
      }
      &__visible {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }
}

.sell-content {////ここに修正する
  width: 700px;
  height: 355px;
  padding: 40px;
  border-top: 1px solid #eee;
  &__group1 {
    width: 620px;
    height: 70px;
    &__label {
      font-weight: 600;
    }
    &__input {
      width: 100%;
      margin: 8px 0 0;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
  }
  &__group2 {
    margin: 40px 0 0;
    width: 620px;
    height: 164px;
    &__label {
      font-weight: 600;
    }
    &__input {
      width: 100%;
      margin: 8px 0 0;
      height: 150px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
  }
}

.item-detail {
  //商品の詳細コーナー
  width: 700px;
  height: 600px;
  padding: 40px;
  border-top: 1px solid #eee;
  &__sub-head {
    float: left;
    color: #888;
    font-size: 14px;
    font-weight: bold;
  }
  &__form-box {
    //カテゴリー
    float: right;
    width: 400px;
    height: 180px;
    &__group1 {
      width: 400px;
      height: 70px;
      &__label {
        font-weight: 600;
        display: inline-block;
        font-size: 14px;
      }
      &__select-wrap1 {
        margin: 8px 0 0;
        position: relative;
        background: #fff;
      }
      &__select-wrap2 {
        margin: 8px 0 0;
        position: relative;
        background: #fff;
      }
      &__select-wrap3 {
        margin: 8px 0 0;
        position: relative;
        background: #fff;
      }
    }
    &__group2 {
      // サイズ
      width: 400px;
      height: 70px;
      margin: 150px 0 0;
      &__label {
        font-weight: 600;
        display: inline-block;
        font-size: 14px;
      }
        &__select-wrap {
          margin: 8px 0 0;
          position: relative;
          background: #fff;
        }
    }
    &__group3 {
      //ブランド
      width: 400px;
      height: 70px;
      margin: 40px 0 0;
      &__label {
        font-weight: 600;
        display: inline-block;
        font-size: 14px;
      }
        &__select-wrap {
          margin: 8px 0 0;
          position: relative;
          background: #fff;
        }
    }
    &__group4 {
      //商品の状態
      width: 400px;
      height: 70px;
      margin: 40px 0 0;
      &__label {
        font-weight: 600;
        display: inline-block;
        font-size: 14px;
      }
        &__select-wrap {
          margin: 8px 0 0;
          position: relative;
          background: #fff;
        }
    }
  }
}

.delivery {
  width: 700px;
  height: 371px;
  padding: 40px;
  border-top: 1px solid #eee;
  &__sub-head {
    float: left;
    color: #888;
    font-size: 14px;
    font-weight: bold;
  }
  &__form-box {
    float: right;
    width: 400px;
    height: 180px;
    &__group1 {
      width: 400px;
      height: 70px;
      &__label1 {
        font-weight: 600;
        display: inline-block;
        font-size: 14px;
      }
      &__select-wrap1 {
        margin: 8px 0 0;
        position: relative;
        background: #fff;
        cursor: auto;
      }
    }
    &__group2 {
      width: 400px;
      height: 70px;
      margin: 40px 0 0;
      &__label2 {
        font-weight: 600;
        display: inline-block;
        font-size: 14px;
      }
      &__select-wrap2 {
        margin: 8px 0 0;
        position: relative;
        background: #fff;
        cursor: auto;
      }
    }
    &__group3 {
      width: 400px;
      height: 70px;
      margin: 40px 0 0;
      &__label3 {
        font-weight: 600;
        display: inline-block;
        font-size: 14px;
      }
      &__select-wrap3 {
        margin: 8px 0 0;
        position: relative;
        background: #fff;
        cursor: auto;
      }
    }
  }
}

.sale-price {
  width: 700px;
  height: 299px;
  padding: 40px;
  border-top: 1px solid #eee;
  &__sub-head {
    float: left;
    color: #888;
    font-size: 14px;
    font-weight: bold;
  }
  &__form-box {
    float: right;
    width: 400px;
    height: 218px;
    &__first {
      width: 400px;
      height: 72px;
      padding: 0 0 24px;
      &__inside {
        width: 400px;
        height: 48px;
        &__label {
          width: 50%;
          height: 48px;
          line-height: 48px;
          font-weight: 600;
          font-size: 14px;
          float: left;
          // display: inline-block;
        }
        &__price {
          width: 50%;
          height: 48px;
          line-height: 48px;
          text-align: right;
          float: right;
          &__text {
            width: 10px;
            height: 18px;
            font-size: 12px;
            float: left;
            display: block;
            position: relative;
            left: 5px;
          }
          &__input {
            text-align: right;
            width: 160px;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 14px;
          }
        }
      }
    }
    &__second {
      width: 400px;
      height: 63px;
      padding: 24px 0;
      border-top: 1px solid #ccc;
      &__label {
        width: 120px;
        height: 12px;
        float: left;
        color: #333;
        font-size: 14px;
      }
      &__mark1 {
        width: 14px;
        height: 3px;
        float: right;
        position: relative;
        top: 15px;
      }
    }
    &__third {
      width: 400px;
      height: 83px;
      padding: 24px 0;
      border-top: 1px solid #ccc;
      &__label {
        width: 64px;
        height: 16px;
        float: left;
        color: #333;
        font-size: 16px;
        font-weight: 600;
      }
      &__mark1 {
        width: 14px;
        height: 1px;
        float: right;
        position: relative;
        top: 15px;
      }
    }
  }
}

.sell-btn-box__inner a {
  //禁止事項の文字リンクのCSS
  color: #0099e8;
  text-decoration: none;
  cursor: pointer;
}

.ban {
  //禁止事項のテキストCSS
  display: block;
  line-height: 1.5;
  height: 21px;
}

.sell-btn-box {
  width: 700px;
  height: 329px;
  padding: 40px;
  border-top: 1px solid #eee;
  font-size: 13.8px;
  &__inner {
    width: 620px;
  }
  &__btn {
    margin: 40px 0 0;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
  &__link {
    width: 45%;
    margin: 24px auto 0;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    display: block;
    width: 275px;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
}









//マウスがのった時だけリンク下線つく
.footer__inner__links a:hover {
  text-decoration: underline;
}

.footer {
  width: 100%;
  height: 220px;
  margin: 0 auto;
  background-color: #F5F5F5;
  &__inner {
    width: 456px;
    height: 220px;
    margin: auto;
    color: #333;
    &__links {
      list-style: none;
      padding-top: 40px;
      width: 456px;
      height: 15px;
      display: flex;
      &__link1 a {
        color: #333;
        width: 140px;
        text-decoration: none;
        cursor: pointer;
        font-size: 13px;
        touch-action: manipulation;
      }
      &__link2 a {
        color: #333;
        width: 130px;
        text-decoration: none;
        cursor: pointer;
        font-size: 13px;
        touch-action: manipulation;
        margin-left: 25px;
      }
      &__link3 a {
        color: #333;
        width: 250px;
        text-decoration: none;
        cursor: pointer;
        font-size: 10px;
        touch-action: manipulation;
        float: right;
      }
    }
  
    &__c-mark {
      margin: 8px 0 0;
      font-size: 13px;
      text-align: center;
    }
  }
}

.single__footer{
  margin:0 auto;
  padding: 40px 180px;
.item-detail__form-box__group__select-wrap__select-default {
  //select（他の所も共通）
  width: 100%;
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}