.search-container {
  margin: 40px auto 0;
  width: 1020px;
  display: flex;
  .search-left {
    width: 280px;
    margin: 0 40px 0 0;
  }
  .search-right {
    width: 700px;
    &__title {
      margin: 0 0 16px;
      font-size: 22px;
      font-weight: bold;
    }
    .items-box-content {
      display: flex;
      flex-wrap: wrap;
      .items-box {
        width: 160px;
        margin-bottom: 20px;
        a {
          text-decoration: none;
          color: black;
        }
        h3 {
          font-size: 14px;
          height: 1.5em;
          overflow: hidden;
        }
        &__bottom {
          height: 60px;
          padding: 8px 12px;
          background-color: #fff;
          &__info {
            display: flex;
            justify-content: space-between;
          }
          &__info-price {
            font-weight: bold;
          }
          &__info-like {
            display: flex;
          }
        }
      }
      .items-box:not(:nth-child(4n)){
        margin-right: 20px; 
      }
    }
  }
}

.select-default {
  height: 48px;
  padding: 0 16px;
  border: 1px solid #ccc;
  width: 100%;
}
